NEXT_PUBLIC_API_BASE_URL=
INTERNAL_API_BASE_URL=http://127.0.0.1:8000
SECRET_KEY=replace-me
STORAGE_BACKEND=local
STORAGE_ROOT=./data/storage
WORK_ROOT=./data/work
MODEL_AUTO_DOWNLOAD=true
MODEL_DOWNLOAD_PREFER_HF_MIRROR=true
FINE_RECONSTRUCTION_ENABLED=true
FINE_ITERATIONS=30000
WORKER_BASE_IMAGE=docker.m.daocloud.io/pytorch/pytorch:2.7.1-cuda12.8-cudnn9-devel
TORCH_HOME=/model-cache/torch
HF_HOME=/model-cache/huggingface
